<div class="oj-hybrid-padding ">
  <oj-form-layout id="formOptions"
  max-columns="3"
  direction="row" class=" oj-formlayout-full-width oj-flex   " >

    <!-- <span ></span> -->
      <oj-select-single id="selecttype" label-hint="Filter by type" label-edge="inside"
      class="oj-form-control-max-width-sm " data="[[filteropt]]" value="{{selectVal}}" ></oj-select-single>
    
    <!-- <span></span> -->
      <oj-select-single id="selectstatus" label-hint="Filter by status" label-edge="inside"
        class="oj-form-control-max-width-sm" data="[[statusopt]]" value="{{statusVal}}"></oj-select-single>
    
    <!-- <span></span> -->
      <oj-input-search id="search1" class="oj-form-control-max-width-sm" value="{{value}}"
        on-oj-value-action="[[handleValueAction]]" placeholder="Search" aria-label="My search field">

      </oj-input-search>
    

  </oj-form-layout>

  <div class="oj-panel oj-flex ">
    <oj-table id="table" aria-label="study Table" accessibility.row-header="typeId" class="demo-table-container"
      data="[[dataprovider]]" columns-default.sortable="disabled" display='grid'
      columns="{{tableColumns}}"  class="demo-table-container oj-table-stretch"  >
    </oj-table>
  </div>

</div>
